@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    margin: 0px;

}

header{
    height: 18%;
    width: 100%;
	z-index: 10;
    font-weight: 100;
}

.header-logo{
    font-size: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 0px;
    
}


.header-list ul li a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px;
    transition: all ease 0.5s;
}

.header-list ul li {
    float: right;
    padding-left: 30px;
    padding-top: 40px;
    list-style: none;
    padding-right: 30px;
}

.header-list ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 8px;
    position: relative;
}

.header-list ul li a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-family: "Fredoka One", cursive;
}

.header-list ul li::after {
    content: "";
    height: 2px;
    background: #f47b7b;
    display: block;
    margin: auto;
    transition: 0.5s;
    width: 0%;
}

.header-list ul li:hover::after {
    width: 100%;
}


.container{
    /* position: relative; */
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    /* padding-top: 20%; */
}
.faq-section {
    /* background: #fdfdfd; */
    min-height: 100vh;
    padding: 10vh 0 0;
}
.faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    margin-left: 550px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #E91E63;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}

.faq {
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
    padding: 0px;
    border: none;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 14px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: #E91E63;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
}

.faq .card .card-body {
    padding: 30px;
    padding-left: 35px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
    margin-bottom: 14px;
}

@media (max-width: 991px) {
    .faq {
        margin-bottom: 30px;
    }
    .faq .card .card-header .faq-title {
        line-height: 26px;
        margin-top: 10px;
    }
}



/*Footer*/
.sec {
    border-top-left-radius: 40px;
    background: black;
    margin-top: 2%;
    color: #FFB6C1 ;
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-head {
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
}

.bout p{
    font-size: 18px;
    color: white;
    font-weight: 100;
}
.bout {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 1vh;
}

.head {
    padding-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.head:hover{
    color: white;
}
.sci li {
    float: right;
    text-decoration: none;
    list-style: none;
    padding-right: 40px;
    font-size: 30px;
}

.socials {
    display: flex;
    align-items: center;
}

.sci li a {
    color: white;
}

.sci li a:hover {
    transition: 1s;
    box-shadow: inset-1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}
.sci li i{
    transition: .5s;
}
.sci li i:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.sci li:nth-child(1) a:hover {
    
    color: #de9a9a;
    transform: translateY(-20%);
    
}

.sci li:nth-child(2) a:hover {
    
    color: rgba(188, 42, 141);
    transform: translateY(-20px);
    
}

.sci li:nth-child(3) a:hover {
    
    color: #f08cc6;
    transform: translateY(-20px);
}

@media screen and (max-width: 500px) {
    .head {
        padding-left: 15px;
        font-size: 30px;
        font-weight: 550;
    }
    
    .sci li {
        padding-right: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .head {
        padding-left: 7px;
        font-size: 25px;
    }
    
    .sci li {
        padding-right: 7px;
        font-size: 20px;
    }
    
    .bout p {
        font-size: 18px;
    }
    
    .bout {
        padding-left: 2px;
        padding-right: 2px;
    }
}
/*Footer*/

footer {
    position: relative;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 200%;
    width: 100%;
    padding-top: none;
    color: #fff;
    /*padding: 5px 0px 5px 0px;*/
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(207, 205, 205);
}

.footer-content p {
    max-width: fit-content;
    margin: 0px 0px 0px 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 20px;
    color: #999999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sci li {
    float: right;
    text-decoration: none;
    list-style: none;
    padding-right: 40px;
    font-size: 30px;
}

.socials {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}

.sci li a {
    color: white;
}

.sci li a:hover {
    transform: translateY(-20px);
    box-shadow: inset-1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}

.sci li:nth-child(1) a:hover {
    color: #3b5998;
    transform: translateY(-20px);
}

.sci li:nth-child(2) a:hover {
    color: rgba(188, 42, 141);
    transform: translateY(-20px);
}

.sci li:nth-child(3) a:hover {
    color: #F0E68C;
    transform: translateY(-20px);
}

/* .siteFooterBar { */
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px 0px 25px rgb(12, 12, 12);
    height: 20px;
    color: #9B9B9B;
    background: #070707;
}

.content1 {
    display: contents;
    margin: 0px auto;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    width: 250px;
}
.content1 .foot{
    margin-top: -7px;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .sci li {
        padding-right: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .sci li {
        padding-right: 7px;
        font-size: 20px;
    }
}



@media screen and (max-width: 500px) {
    .head {
        padding-left: 15px;
        font-size: 30px;
        font-weight: 550;
    }
    
    .sci li {
        padding-right: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .head {
        padding-left: 7px;
        font-size: 25px;
    }
    
    .sci li {
        padding-right: 7px;
        font-size: 20px;
    }
    
    .bout p {
        font-size: 18px;
    }
    
    .bout {
        padding-left: 2px;
        padding-right: 2px;
    }
}
.left span{
    margin-top: 80px;
    padding-left: 0px;
    display: flex;
    gap: 10px;
    align-items: center ;
}
.left{
    margin-top: 30px;
    margin-left: 40px;
    width: 80%;
    font-family: sans-serif;
    .left img{
        margin-left: 60px;
        margin-top: 90px;
        height: 350px;
        align-items: center;
        /* padding: 20px; */
        padding-bottom: 40px;
        padding-right: 20px;
    }
    .right{
        height: 500px;
        width: 25vw;
        padding-right: 100px;
    }
}

body{
    background-color: rgb(218, 32, 32);
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    flex-direction: column;
    height: 100vh;
    background-image: url(login.jpg);
    background-repeat: repeat-y;
}